body 
{
    background-color: rgb(255, 254, 213);
    text-align:center;
    margin: 0;
    font-family: 'Courier New';
}
.margin
{
    margin: 0;
}

h1
{
    margin: 0px;
    position: relative;
    font-size: 75px;

}

.cloud1
{
    position: absolute;
    top: 100px;
    right: 200px;
}
.cloud2
{
    position: absolute;
    left: 200px;
    bottom: 200px;
}
.div1
{
    background-color: rgb(141, 175, 206);
    position: relative;
    padding-top: 200px;
    margin-top: 50px;
}
